@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter;
}

.main-container {
  display: grid;
  grid-template-areas: 
                      "sidebar navbar"
                      "sidebar main";
  grid-template-columns: 20em 1fr;
  grid-template-rows: 5.5rem 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}
  
#sidebar {
  grid-area: sidebar;
  background-color: #5927E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
}

#logo {
  display: flex;
  width: 100%;
  height: 5.5rem;
  align-items: center;
  justify-content: center;
}

#logo a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  font-size: 2em;
}

#nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
  border: 0;
  width: 100%;
  list-style: none;
}

.nav-item a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 1.5em;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

#navbar {
  grid-area: navbar;
  background-color: red;
}

#main {
  grid-area: main;
  display: flex;
  padding: 2em;
}

#main-display {
  flex: 1;
  width: 75%;
}

#welcome-back {
  height: 15em;
  width: 30em;
  background-color: green;
  margin: 3em;
}

#course-container {
  display: block;
  height: 20em;
  margin: 3em;
  background-color: green;
}

.course-card {
  display: inline-block;
  margin: 1em;
  background-color: blue;
  height: 15em;
  width: 10em;
}

#stats {
  width: 25%;
}